* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
   /* background-color: #333;*/
    background-image: url('home_back.jpg');
    padding: 5px 0;
    padding-top: 20px;
  }
  
  .logo{
    width: 150px;
    height:auto;
    margin-left: -90%;
    margin-top: -7%;
  }
  
  .get-started {
      /*margin-left: 1000px;*/
      padding: 5px 20px;
      border: 2px solid #d6f138;
      border-radius: 20px;
      text-decoration: none;
      /*transition: .5s;*/
      background: linear-gradient(to right, #89a524, #279cdf);
      color: #fff;
    text-align: left;
  }
  
  .get-started:hover {
      background: linear-gradient(to right, #89a524, #279cdf);
      background: linear-gradient(to right, #279cdf, #89a524);
  }
  
  /*.logo-container {
    margin: 5px; 
  }*/
  
  nav ul {
    list-style-type: none;
    text-align: right;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .hero {
   
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 150px 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .hero form input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
  }
  
  .hero form button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  
  
  .play{
      margin-top: 20px;
      display: flex;justify-content: center; 
      align-items: center;
  }
  
  .play img {
      width: 45px;
      cursor: pointer;
      filter: drop-shadow(0 0 10px #0002);
  }
  
  .play span a{
      margin-left: 10px;
      font-size: 20px;
      font-weight: 900;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
  }
  
  .features {
    text-align: center;
    padding: 50px 0;
  }
  
  .feature {
    margin-bottom: 30px;
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .auth-buttons {
    margin-top: 20px;
    /*padding-right: 20%;*/
    padding-top: 150px;
    padding-bottom: 36vh;
    /*align-items: center;*/
    margin-left:35%;
  }
  
  .auth-buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #f2eff8;
    text-decoration: none;
    border-radius: 5px;
  }

  .auth-buttons_1 {
    margin-top: 20px;
    /*padding-right: 20%;*/
    padding-top: 150px;
    padding-bottom: 36vh;
    /*align-items: center;*/
    margin-left:45%;
  }
  
  .auth-buttons_1 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #f2eff8;
    text-decoration: none;
    border-radius: 5px;
  }

  /* register pages student , teacher */

.form-box{
	width: 380px;
	height: auto;
	position: relative;
	margin: 6% auto;
	background: #fff8;
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.4);
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.form-box h2{
  text-align: center;
  color: #092846e0;
}

.form-box h5{
  text-align: center;
  color: #092846e0;
}



.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #89a524, #279cdf);
	color: #ffffff;
	border: 0;
	outline: none;
	border-radius: 30px;
  /*background: lightgray;*/
}

.submit-btn:hover {
	background: linear-gradient(to right, #89a524, #279cdf);
	background: linear-gradient(to right, #279cdf, #89a524);
}

.check-box
{
	cursor: pointer;
	margin: 30px 10px 30px 0;
  
}

.input-group,
.input-field{
  width: 100%;
  padding: 10px;
  border: 1px solid #76bd8b;
  border-radius: 5px;
}

 /*login page */
         
 .log-header {
  /* background-color: #333;*/
  background-image: url('home_back.jpg');
  padding: 5px 0;
  padding-top: 20px;
  height: 100vh;
}

/******teacher dashboard******/

.acbtn{
  background: transparent;
  width: 50%;
  
}
.add-course{
  padding: 5px;
  margin-left: 350px; 
  right: 100px;
  text-align: center;
  border: 2px solid #d6f138;
  border-radius: 20px;
  text-decoration: none;
  /*transition: .5s;*/
  background: linear-gradient(to right, #89a524, #279cdf);
  color: #fff;
  width: 20%;
  flex-direction: column;
  position: absolute;
  
}

.addlivesession{
  padding: 5px;
  margin-left: 350px; 
  right: 100px;
  text-align: center;
  border: 2px solid #d6f138;
  border-radius: 20px;
  text-decoration: none;
  /*transition: .5s;*/
  background: linear-gradient(to right, #89a524, #279cdf);
  color: #fff;
  width: 20%;
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
}

/* Student Dashboard */

.student-details{
  padding: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -25%;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.1);
  width: 300px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.welcome{
  padding: 1%;   
  padding-left: 10%;
  font: 2em josefin sans;
  font-weight: 1000;
}

.chk-progress{
  padding: 5px 20px;
  border: 2px solid #d6f138;
  border-radius: 20px;
  text-decoration: none;
  /*transition: .5s;*/
  background: linear-gradient(to right, #89a524, #279cdf);
  text-align: center;
  width: 25%;
  color: #fff;
}

.your-courses{
padding: 5px 20px;
border: 2px solid #d6f138;
border-radius: 20px;
text-decoration: none;
/*transition: .5s;*/
background: linear-gradient(to right, #89a524, #279cdf);
color: #fff;
text-align: center;
width: 25%;
}
